doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gadview (Gadget Review)

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 "Gadview"
        ul
            li Presented By :
            li Khefry (14.111.0833)
            li Willy Andrean (14.111.0132)
            li Erwin (14.111.0124)
            li Aldo Taniel Sembiring (14.111.1740)

      section
        h3 Pada kesempatan kali ini kami akan mereview
        h2 Samsung Galaxy S7 Edge
      
      section
        img(src="images/samsung-S7.jpg")
      
      section
        h2 Specifikasi
        ul
            li Samsung Galaxy S7 Edge
            li Harga : Rp. 10.499.000
            li Dimensi / Berat : 150,9 x 72,6 x 7,7 mm, 157gram
            li Prosesor : Enynos 8890 octa-core 2,3 GHZ
            li GPU : Mali-T880MP12
            li RAM / Storage : 4 GB / 32/64 GB
            li Layar : Super AMOLED 5,5 inci (2,560 x 1,440 px)
            li Kamera : 12 MP (Front) & 5 MP (Rear)
            li Baterai : 3.600 mAh
            li Sistem Operasi : TouchWiz (Android 6.0)
            li Jaringan : Dual-SIM 4G
            li Sensor : Fingerprint, accelerometer, gyro, proximity, compass, barometer, heart rate, Sp02
              
      section
        h2 Kelebihan
        ul
            li Fitur Edge Screen lebih lengkap
            li Main game tidak terganggu
            li Smooth performance
            li Tersedia Slot microSD
            li Mendukung Gear VR
        

      section
        h2 Fitur Edge lebih lengkap
        hr
        h3 Lengkungan layar di sisi kiri maupun kanannya bisa digunakan untuk menampilkan beragam shortcut dimana fitur ini tidak dimiliki Samsung Galaxy Edge S6.

      section
        h2 Main game tidak terganggu
        hr
        ul
            li fitur baru yang dibawa Samsung Galaxy S7 edge ini adalah Game Launcher yang dapat mengoptimalkan seluruh game yang terinstall di Samsung Galaxy S7 Edge ini. 
            li Ketika bermain game, fungsi tombol back dan recent apps bisa dinonaktifkan. Game Launcher ini juga memberikan fungsi mengambil screenshot atau bahkan merekam video saat permainan sedang berlangsung.

      section
        h2 Smooth Performance
        hr
        h3 Prosesor octa-core Exynos 8890 2,3 GHz yang ada di dalam smartphone ini adalah yang tertinggi saat ini besama Snapdragon 820.

      section
        h2 Tersedia slot microSD
        hr
        h3 Slot microSD kembali bisa dinikmati pada Samsung Galaxy S7 edge ini. Namun slot SIM dan slot microSD ini menyatu. Kapasitas didukung sangat besar hingga 200 GB.

      section
        h2 Mendukung Gear VR
        hr
        h3 Samsung mem-bundling Galaxy S7 series dengan headset Gear VR hasil dari kerjasama dengan Oculus.

      section
        h2 Kekurangan
        hr
        h2 Turunnya resolusi kamera
        hr
        h3 Samsung Galaxy S7 series ini memiliki kekurangan dimana resolusi kamera lebih kecil dari Samsung Galaxy S6 series sebelumnya yaitu dari 16 MP menjadi 12 MP.
        
      section
        h2 Sekian Review Gadget dari kami
        hr
        h2 Terima Kasih :)
        
script(src='build/build.js')